/.aws
/.bash_history
/.bash_logout
/.bashrc
/.cache
/.gnupg
/.jupyter
/.kiro-server
/.nv
/.profile
/.ssh
/.sudo_as_admin_successful
/.triton
/.wget-hsts
/BUILD_FROM_SOURCE_PACKAGES_LICENCES
/LINUX_PACKAGES_LICENSES
/LINUX_PACKAGES_LIST
/OSSNvidiaDriver_v580.95.05_license.txt
/PYTHON_PACKAGES_LICENSES
/THIRD_PARTY_SOURCE_CODE_URLS
/benchmark_results.json
/bf16_checkpoints
/checkpoints
/flash-attn
/nvidia-acknowledgements
/venv1